<ol class="breadcrumb">
    <li><a href="index.html">AdminPlus</a></li>
    <li class="active">Sidebar</li>
  </ol>

  <div class="jumbotron">
    <p class="lead">Use any of the available button classes to quickly create a styled button, whether it's a regular, rounded or circle button. Group a series of buttons together on a single line with the button group. Add on optional JavaScript radio and checkbox
      style behavior.</p>
  </div>

<div class="card">
    <div class="card-block">
        This is a demo for the <a target="_blank" href="https://github.com/themekit/adminplus-boilerplate-rails">adminplus-boilerplate-rails</a> repository, a simple Rails App boilerplate using <a href="https://github.com/themekit/adminplus">AdminPlus Lite Bootstrap Theme</a>.
    </div>
</div>