    <ol class="breadcrumb">
        <li><a href="index.html">Home</a></li>
        <li class="active">Buttons</li>
      </ol>

      <div class="jumbotron">
        <p class="lead">Use any of the available button classes to quickly create a styled button, whether it's a regular, rounded or circle button. Group a series of buttons together on a single line with the button group. Add on optional JavaScript radio and checkbox
          style behavior.</p>
      </div>
