<!DOCTYPE html>
<html class="bootstrap-layout">
<head>
  <title>Fixed Layout</title>
  
  <!-- Material Design Icons  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Roboto Web Font -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" rel="stylesheet">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>

</head>
<body class="layout-container ls-top-navbar">

	<!-- Navbar -->
	<nav class="navbar navbar-dark bg-primary navbar-full navbar-fixed-top ls-left-sidebar">    
		<div class="container">
			<!-- Brand -->
			<a class="navbar-brand" href="index.html">AdminPlus</a>
			<div class="collapse navbar-toggleable-xs" id="navbar">
				<ul class="nav navbar-nav">
					<li class="nav-item active"><a class="nav-link" href="/fixed">Fixed</a></li>
					<li class="nav-item"><a class="nav-link" href="/">Sidebar</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- // END Navbar -->

	<!-- CONTENT -->
	<div class="layout-content" data-scrollable>
		<div class="container">
			<%= yield %>
			<!-- END CONTENT -->
		</div>
	</div>

	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	
</body>
</html>
